/* Regole Generali */

* {
    margin: 0px;;
    padding: 0px;
    box-sizing: border-box;


} 




body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row{
    border: solid 4px white;
    content:"";
    clear: both;
    display: table;
    margin: 0 auto;
    width: 80%;

    }

 .col{
     float: left;
     width:33%;
     background-color: black;
      
        
     }
    
     img{
        height: 100px;
        float: left;
        
     }
    
    /* Regole Intestazione */
    
    h1{
        color: rgb(255, 0, 68);
        font-size: 50px;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 50px;
        
    }
    
    p{
        font-size: 20px;
        padding: 2px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    /* Regole Blocco Principale */
    
    section {
        margin-bottom: 30px;
    }
    
    
    .name {
        display: inline block;
        color: white;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    
    
    .work{
        color: white;
        font-size: 12px;
        
    }
        
    
       
        
    .email{
        color:rgb(0, 132, 255);
        font-size: 12px;
        margin-bottom: 20px;
    }

    

    

